_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.ruby-version
.sass-cache
.tweet-cache
.venv
assets/libs/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendor

# Tool metadata and local environment folders
.gemini/
.superpowers/
"%APPDATA%/"
%APPDATA%
.vscode/
.history/
.ipynb_checkpoints/