---
---

.custom-icon-calendly {
  display: inline-block;
  width: 1em;
  min-width: 1em;
  height: 1em;
  background-image: url("{{ '/assets/img/icon.png' | relative_url }}");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 1;
}
