---
---

.custom-icon-calendly {
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;
  background-image: url("../img/icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: 1em;
  filter: none !important;
  font-style: normal;
}
